VITE_SUPABASE_URL=https://jnaequepxcoiduddtolo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpuYWVxdWVweGNvaWR1ZGR0b2xvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc4NjQ5OTksImV4cCI6MjA2MzQ0MDk5OX0.-WAlQ_rf6S5SzKBuRYgqjJcJQWLrs8en4XNJcpNK6TQ